body {
  background: -webkit-linear-gradient(top, #4357ff 0%,#4357ff 50%,#3745af 51%,#3745af 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: none;
}